<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body style="background-color:#E6E6FA">
    <h1 style="color:blue;text-align:center">Welcome to {{ headline }} Family</h1>
    <h1>Family Member's Name</h1>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>occupations</th>
      </tr>
    {% if headline %}
        <tr>
        <td>Kumar Jain</td>
        <td>54 year</td>
        <td>Bussinessman</td>
        </tr>
     {% endif %}

     {% for name in names%}
        <tr>
        <td>{{ name}}</td>
        <td>54 year</td>
        <td>Bussinessman</td>
        </tr>
  {% endfor %}
    </table>
  </body>
</html>
